@use 'base/placeholders' as *;
@use 'blocks/titles';

*,
*:before,
*:after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: black;
  --gray: #3d3d3d;
  // * lg stands for light gray
  --lg-gradient: linear-gradient(180deg, #f8f8f8 35.25%, #ffffff 100%);
  --primary: #ffa132;
  --light-orange: #fffcf9;
  --light-blue: #f5f9ff;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

p {
  @extend %text;
}
